@mixin border-shadow {
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(55, 71, 79, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.1);
}
.send {
  @include border-shadow;
  margin: 32px 0;
  text-transform: uppercase;
  padding: 14px 16px 14px 16px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4a4a4a;
  font-weight: 400;
  background-color: white;
  border: none;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  &:hover {
    background-color: rgb(242, 242, 242);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  @media (max-width: 1000px) {
    cursor: initial;
  }
}

.edit-container {
  padding: 8px;
  @media (min-width: 800px) {
    padding: 29px 0 0 32px;
  }
}
.edit__img {
  @include border-shadow;
}
.input-container {
  margin: 8px 0;
}
.input__key {
  margin-right: 8px;
}
.input__value {
  @include border-shadow;
  border: none;
  padding: 4px;
}
.invalid {
  border: 1px solid red;
}
