.persons-list {
  margin: 32px 0;
  max-height: 160px;
  overflow: scroll;
  border: 1px solid #f7f7f7;
  @media (min-width: 800px) {
    max-height: 400px;
  }
}
.error {
  color: red;
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}
.persons-list__person {
  padding: 4px 8px;
  &:nth-child(even) {
    background-color: rgb(247, 247, 247);
  }
}
.persons-list__person {
  &:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  .active .persons-list__person__content {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
.persons-list__person {
  &:nth-child(even) .persons-list__person__content {
    animation: from-right 1s ease-in-out;
  }
  &:nth-child(odd) .persons-list__person__content {
    animation: from-left 1s ease-in-out;
  }
}
@keyframes from-right {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes from-left {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}
.actions {
  display: flex;
  justify-content: center;
}
.actions__modify-list {
  margin: 0 8px;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 14px 16px 14px 16px !important;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4a4a4a;
  font-weight: 400;
  cursor: none;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(55, 71, 79, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  &:hover {
    background-color: rgb(242, 242, 242);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

.persons-list-container {
  margin: 8px 0;
}
.persons-list__header {
  text-align: center;
  margin: 32px 0;
}
