.details-container {
  padding: 8px;
  @media (min-width: 800px) {
    padding: 29px 0 0 32px;
  }
}
.edit {
  margin: 32px 0;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 14px 16px 14px 16px !important;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4a4a4a;
  font-weight: 400;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(55, 71, 79, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.1);
}
.details__contact__header,
.details__names__header {
  font-size: 20px;
  border-bottom: 1px solid #f7f7f7;
  margin: 16px 0;
}
.details__img {
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(55, 71, 79, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.1);
}
