.details-container {
  padding: 8px;
  @media (min-width: 800px) {
    padding: 29px 0 0 40px;
  }
}
.edit {
  margin: 32px 0;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 14px 16px 14px 16px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  cursor: none;
  color: #4a4a4a;
  font-weight: 400;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(55, 71, 79, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  &:hover {
    background-color: rgb(242, 242, 242);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  @media (max-width: 1000px) {
    cursor: initial;
  }
}
.details__contact__header,
.details__names__header {
  font-size: 20px;
  border-bottom: 1px solid #f7f7f7;
  margin: 16px 0;
}
.details__img {
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(55, 71, 79, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.1);
  animation: blow 1s ease-in-out;
}
.details__img--active {
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(55, 71, 79, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.1);
  animation: blow--active 1s ease-in-out;
}
.details__contact__phone__icon {
  animation: vibr 1s ease-in-out;
}
.details__contact__phone__icon--active {
  animation: vibr--active 1s ease-in-out;
}
.details__contact__mail__icon {
  animation: up-down 1s ease-in-out;
}
.details__contact__mail__icon--active {
  animation: up-down--active 1s ease-in-out;
}
@keyframes blow {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blow--active {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes vibr {
  0% {
    transform: scale(1.2) rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes vibr--active {
  0% {
    transform: scale(1.2) rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes up-down {
  0% {
    transform: scale(1.2) translateY(16px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes up-down--active {
  0% {
    transform: scale(1.2) translateY(8px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
.details__contact__phone,
.details__contact__mail {
  display: flex;
  align-items: center;
}
.details__contact__phone__icon,
.details__contact__mail__icon,
.details__contact__phone__icon--active,
.details__contact__mail__icon--active {
  margin-right: 8px;
}
