@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
  @media (max-width: 1000px) {
    cursor: initial;
  }
}

a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
}
ul {
  padding: 0;
  list-style: none;
}
.container {
  @media (min-width: 800px) {
    display: grid;
    grid-template-areas:
      "a a"
      "b c";
  }
}
